.wrapper {
  display: flex;
  flex-direction: column;
  //padding: 1rem;
  background: white;
  border-radius: 8px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
  background-color: #1976d2;
  color: white;
  //border-radius: 6px;
}

.navLinks {
  display: flex;
  gap: 1rem;
}
.Home {
  color: white;
  padding: 0.75rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-weight: 500;
  border-radius: 9px;
  gap: 1rem;
  justify-content: space-between;
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: darken(#99c4f5, 25%);
    transition: 0.2s;
  }
}
.ProductEditor {
  color: white;
  padding: 0.75rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-weight: 500;
  border-radius: 9px;
  gap: 1rem;
  justify-content: space-between;
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: darken(#99c4f5, 25%);
    transition: 0.2s;
  }
}
.About {
  color: white;
  padding: 0.75rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-weight: 500;
  border-radius: 9px;
  gap: 1rem;
  justify-content: space-between;
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: darken(#99c4f5, 25%);
    transition: 0.2s;
  }
}

.navLinks a {
  color: white;
  text-decoration: none;
}

.navLinks a.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}

.content {
  flex: 1;
  padding: 1rem;
  background-color: #f7f7f7;
}
.about{
    padding: 3rem;
    
}